@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    overflow-x:auto
}
.content{
 display: grid;
 width: 100vw;
 height: 100vh;
 max-width:100%;
 grid-template-columns: 65% 35%;
 /* background-color: aqua; */

}

.faq-pagination-area{
    display: grid;
    grid-template-rows: 30% 70%;
    position: relative;
}

.pagination-area{
   
    max-width:100%;
   
}
.login-area{
    /* background-color: red; */
}

.part-1{
    position: absolute;
    top: 5%;
    left: 5%;
}

.part-2{
    position: absolute;
    top: 32%;
    left: 5%;
    font-size: 70px;
}

