@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    overflow-x:auto
}
.content{
 display: grid;
 width: 100vw;
 height: 100vh;
 max-width:100%;
 grid-template-columns: 65% 35%;
 /* visibility: visible; */
 /* background-color: aqua; */
 

}
.faq-pagination-area{
    
    display: grid;
    grid-template-rows: 60% 40%;
}
.pagination-area{
   
    max-width:100%;
   
}

.other-button-area{
    display: flex;
   width: 60%;
   justify-content: space-between;
   margin-top: 40px;
   margin:auto ;
   padding: 15px;
}

.other-button-area>button{
border: none;
background-color: cadetblue;
padding: 8px;
text-align: center;
border-radius: 30px;
cursor: pointer;
font-weight: 600;
}

.faq-area{
    /* margin: auto; */
    /* background-color: rebeccapurple; */
    position: relative;

}

.faq-area>h1{
    position:absolute;
    left: 5%;
    top: 10%;
    font-size: 50px;
    font-weight: 400;
    
}
.line{
    position:absolute;
    top: 28%;
    left: 5%;
    height: 2px;
    width: 80%;
    background-color: black;
}

.faq-content
{
    position: absolute;
    top: 35%;
    left: 5%;
}

.faq-content>p{
    width: 80%;
}

.system-works{
    font-size: 35px;
    font-weight: 800;
}